body {
  font-family: "Roboto", sans-serif;
  background-color: #212121;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "Roboto", sans-serif;
}

.send_code {
  width: 500px;
  margin: auto;
  border: 1px solid red;
  height: 200px;
}
